<h1>New Image</h1>

<%= form_for [:admin, @image] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit %>
<% end %>
